// color-home-page
$primary-color:#385D50;
$secondary-color: #2F2F2F;

// text-color
$text-primary-color:#ffffff;
$text-seconadary-color:#2F2F2F;

// button-color
$button-primary-color:#F9BF29;
$button-secondary-color:$text-primary-color;

//circular-btn
$cir-btn-primary-color:#C4C4C4;
$cir-btn-hover-color:$primary-color;